.backdrop .container {
  height: 100%;
  display: flex;
  align-items: center;
}
.backdrop h5 {
  color: #fff;
}
.backdrop img {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

.backdrop .title {
  font-family: Roboto;
  font-weight: 500;
}
.backdrop sup {
  font-weight: 300;
  font-size: 1rem;
}
.backdrop .tagline {
  font-weight: 300;
  font-size: 1.1rem;
}

.backdrop .overview {
  text-align: justify;
  font-weight: 400;
}

.backdrop {
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 0px 4000px inset;
}

@media only screen and (min-width: 768px) {
  .backdrop .container {
    margin: 0 auto !important;
  }
  .backdrop {
    height: 100vh;
  }
  .backdrop img {
    width: 100%;
    max-width: 300px;
  }
  .backdrop .detail-section {
    padding: 2rem 0;
  }
}
